body {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-image: url('https://media2.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e47ct3bo5lx8oeep6k422clkj49fxg2029p11wptbkb&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: 100%;


}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor:pointer;
  max-width: 300px;
  color: white;
}

h1 {
  font-size: 5rem;
  margin: 50px;
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0ff,
  0 0 82px #0ff,
  0 0 92px #0ff,
  0 0 80px #0ff,
  0 0 100px #0ff;
}

p {
  color: #FBCB0A;
  font-size: 1.5rem; 
}

.grid {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100px;
  width: 100px;
  box-shadow: 0 -1px 15px 3px #0ff
}


.game-result {
  margin-top: 100px;
  margin-bottom: 50px;
}

.reset-button {
  color:5800FF;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  justify-content: center;
  height: 80px;
  background-color: #37E2D5;
  border-radius: 50%;

}
